<!-- Pagination links -->
<h1>
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="/" class="previous">&NestedLessLess;</a>
        <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>
      {% else %}
        <span class="previous_inactive">&NestedLessLess;</span>
        <span class="previous_inactive">&lt;</span>
      {% endif %}
      <span class="page_number">
        Page {{ paginator.page }}/{{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
        <a href="/page{{ paginator.total_pages }}" class="next">&NestedGreaterGreater;</a>
      {% else %}
        <span class="next_inactive">&gt;</span>
        <span class="next_inactive">&NestedGreaterGreater;</span>
      {% endif %}
    </div>
</h1>