<!-- Pagination links -->
<h1>
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="/" class="previous">&NestedLessLess;</a>
        <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>
      {% else %}
        <span class="previous_inactive">&NestedLessLess;</span>
        <span class="previous_inactive">&lt;</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="current_page">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="page_number" href="/">{{ page }}</a>
        {% else %}
          <a class="page_number" href="/page{{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
        <a href="/page{{ paginator.total_pages }}" class="next">&NestedGreaterGreater;</a>
      {% else %}
        <span class="next_inactive">&gt;</span>
        <span class="next_inactive">&NestedGreaterGreater;</span>
      {% endif %}
    </div>
</h1>