<!-- Pagination links -->
<h1>
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="page-btn">&lt;</a>
      {% else %}
        <span class="page-btn_inactive">&lt;</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="page_current">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="page_number" href="/">{{ page }}</a>
        {% else %}
          <a class="page_number" href="/{{ page }}/">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="page-btn">&gt;</a>
      {% else %}
        <span class="page-btn_inactive">&gt;</span>
      {% endif %}
    </div>
</h1>