---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1><br />
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	    {%- assign est_time = page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 400 | plus: 1 -%}
        {%- assign date_format = site.minima.date_format | default: "%A, %d %B %Y" -%}
        🕑 {{ page.date | date: date_format }} | 💻 ricepancakes | 📖 {{ est_time }} minutes
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- REMOVE DISQUS -->
  <!--{%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}-->
</article>
